@import 'styles';

.categories {
  @include flex-col;
  position: relative;
  min-width: 200px;
  background-color: $GRAY_100;
  padding: 30px 20px 50px;
  row-gap: 20px;
  height: calc(100vh - 66px);

  &__btn {
    @include transition(background-color, box-shadow);
    &:hover {
      background-color: $WHITE;
      box-shadow: $BOX_SHADOW_MD;
    }
  }
}

.list {
  @include flex-col;
  row-gap: 10px;

  &__item {
    @include flex(flex-start, center);
    @include transition(background-color, box-shadow);
    position: relative;
    background-color: transparent;
    padding-inline: 12px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $WHITE;
      box-shadow: $BOX_SHADOW_MD;
    }
    &:hover &_icon {
      opacity: 1;
    }

    &_color {
      @include size(10px, true);
      background-color: $SUCCESS_300;
      margin-right: 10px;
    }

    &_descr {
      @include text(rem(14), 600, $BLACK);
      display: flex;
      flex-grow: 1;
      letter-spacing: 0.15px;
      padding-top: 13px;
      padding-bottom: 14px;
    }

    &_icon {
      @include transition(opacity);
      transform: rotate(45deg);
      opacity: 0;
    }
  }
}

.active {
  background-color: $WHITE;
  box-shadow:
    0px 2px 4px -2px rgb($SUCCESS_500, 0.09),
    0px 4px 8px -2px rgb($SUCCESS_500, 0.3);
}
