@import 'styles';

.header {
  @include flex(space-between, center);
  position: sticky;
  background-color: $WHITE;
  box-shadow: $BOX_SHADOW_LG;
  padding: 20px;

  &__logo {
    @include text(rem(20), 400, $ORANGE_500);
    @include transition(color);
    &:hover {
      color: $ORANGE_300;
    }
  }
}
